<% include ./partials/header %>

<!-- Page Content Start -->
     <div class="col-lg-12">
          <div class="block margin-bottom-sm">
               <h1>Welcome <%= currentUser.firstName %></h1>
           
               <hr>
               <p id="compliment">Compliment Goes Here...</p>
          </div>
     </div>
     <div class="container-fluid">
          <div class="row">
               <div class="col-lg-6">
                    <div class="block margin-bottom-sm">
                         <h3>Quotes of the Day from Ron Swanson</h3>
                         <p id="quote">Quote Goes Here...</p>
                    </div>
               </div>
               <div class="col-lg-6">
                    <div class="block margin-bottom-sm">
                         <h3>You have <span class="badge dashbg-1 orderCount" style="color: white;"></span> New Orders</h3>
                         <p>Check them out here <a href="https://capstone-e-commerce-zenakent.c9users.io/admin/orders/newOrders" >New Orders</a></p>
                    </div>
               </div>
          </div>
     </div>
        
<!-- Page Content End -->

<% include ./partials/footer %>