<% include ./partials/header %>

<!-- Page Content Start -->
     <div class="col-lg-12">
          <div class="block margin-bottom-sm">
               <h1>Welcome <%= currentUser.firstName %></h1>
           
               <hr>
               <p id="compliment">Compliment Goes Here...</p>
          </div>
     </div>
     <div class="container-fluid">
          <div class="row">
               <div class="col-lg-6">
                    <div class="block margin-bottom-sm">
                         <h3>Quotes of the Day from Ron Swanson</h3>
                         <p id="quote">Quote Goes Here...</p>
                    </div>
               </div>
               <div class="col-lg-6">
                    <div class="block margin-bottom-sm">
                         <h3>You have <span class="badge dashbg-1 orderCount" style="color: white;"></span> New Orders</h3>
                         <p>Check them out here <a href="https://capstone-e-commerce-zenakent.c9users.io/admin/orders/newOrders" >New Orders</a></p>
                    </div>
               </div>
          </div>
     </div>
     <div class="container-fluid ">
          <div class="row">
               <div class="col-lg-2">                           
                    <div class="block margin-bottom-sm">
                         <div class="title d-flex justify-content-center"><strong>Best Selling</strong></div>
                         <div id="best-selling"></div>
                    </div>
               </div>
               <div class="col-lg-4">
                    <div class="block margin-bottom-sm">
                         <div class="title"><strong>Product Ranking</strong></div>
                         <div class="table-responsive">
                              <table class="table table-striped table-hover">
                                   <thead>
                                        <tr>
                                             <th>#</th>
                                             <th>Image</th>
                                             <th>Name</th>
                                             <th>Number Sold</th>
                                        </tr>
                                   </thead>
                                   <tbody class="ranking">
                                        <tr>
                                             
                                        </tr>
                                   </tbody>
                              </table>
                         </div>
                    </div>
               </div>
               <div class="col-lg-6">
                <div class="bar-chart block chart">
                  <div class="title"><strong>Ranking Chart</strong></div>
                  <div class="bar-chart chart">
                    <canvas id="barChartCustom3"></canvas>
                  </div>
                </div>
              </div>
          </div>
     </div>
        
<!-- Page Content End -->

<% include ./partials/footer %>