/* here you can put your own css to customize and override the theme */
hr {
    margin-bottom: 6.5px;
}

.image-same-size {
    height: 165px;
    width: 165px;
}

.image-same-size-landing {
    height: 165.375px;
    width: 220.5px;
}