<!-- BEGIN STEPS -->
    <div class="steps-block steps-block-red">
      <div class="container">
        
      </div>
    </div>
<!-- END STEPS -->


<!-- BEGIN PRE-FOOTER -->
    <div class="pre-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 pre-footer-col">
            <h2>About us</h2>
            <p>We are a Car Accessories business, that sell car accessories for old model cars and recent model cars. If you don’t see a product that you would want, please contact us. We do installations, meet ups and cash on delivery thru LBC and remittances.</p>
        </div>
        
        <!-- BEGIN BOTTOM CONTACTS -->
          <div class="col-md-3 col-sm-3 pre-footer-col">
            <h2>Our Contacts</h2>
            <address class="margin-bottom-40">
              <i class="fas fa-address-card"></i> Treelane III Bayan Luma V<br>
              Imus, Cavite 4103<br>
              Phone: 0927 771 1193<br>
              Email: pitsCarAccessories@gmail.com<br>
            </address>
          </div>
          <!-- END BOTTOM CONTACTS -->
          <div class="col-md-3 col-sm-3 pre-footer-col">
            <h1>Please Take our Survey to tell us your shopping experience</h1>
            <h2><a href="https://goo.gl/forms/evVXrZFcCbmhzR4z1">CLICK HERE FOR SURVEY</a></h2>
          </div>
        </div>
        <% if (is_desktop) { %>
        <div class="d-flex justify-content-center" >
          <img src="../../../assets/pages/img/photos/arrows3.PNG" width="auto" height="50">
          <img src="../../../assets/pages/img/photos/arrows3.PNG" width="auto" height="50">
          <img src="../../../assets/pages/img/photos/arrows3.PNG" width="auto" height="50">
          <img src="../../../assets/pages/img/photos/arrows3.PNG" width="auto" height="50">
          <img src="../../../assets/pages/img/photos/arrows3.PNG" width="auto" height="50">
          
        </div>
        <% } %>
        
        <% if (is_phone) { %>
        <div>
          <img class="img-responsive" src="../../../assets/pages/img/photos/arrows3.PNG" width="auto">
        </div>
        <% } %>
        
        <hr>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <ul class="social-icons">
              <li><a class="facebook" data-original-title="facebook" href="https://www.facebook.com/pitscaraccessories/"></a></li>
            </ul>
          </div>
        </div>
    
      </div>
    </div>
    <!-- END PRE-FOOTER -->

    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        
      </div>
    </div>
    <!-- END FOOTER -->

    <!-- BEGIN fast view of a product -->
    
    <!-- END fast view of a product -->


   

<!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="assets/plugins/respond.min.js"></script>  
    <![endif]-->
    
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    <script type="text/javascript" src="/shopCustomJS.js"></script>  
  
    <script src="assets/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>      
    <script src="assets/corporate/scripts/back-to-top.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
    <script src="assets/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
    <script src="assets/plugins/owl.carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->
    <script src='assets/plugins/zoom/jquery.zoom.min.js' type="text/javascript"></script><!-- product zoom -->
    <script src="assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script><!-- Quantity -->

    <script src="assets/corporate/scripts/layout.js" type="text/javascript"></script>
    <script src="assets/pages/scripts/bs-carousel.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            Layout.init();    
            Layout.initOWL();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initTwitter();
            
            Layout.initFixHeaderWithPreHeader();
            Layout.initNavScrolling();
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>