<li class="list-group-item clearfix"><a href="/profile/<%= currentUser._id %>"><i class="fa fa-angle-right"></i> My account</a></li>
<li class="list-group-item clearfix"><a href="/profile/<%= currentUser._id %>/addressBook"><i class="fa fa-angle-right"></i> Address Book</a></li>
<li class="list-group-item clearfix"><a href="/profile/<%= currentUser.id %>/orders"><i class="fa fa-angle-right"></i> Orders</a></li>