<div class="sidebar col-md-3 col-sm-5">
    <ul class="list-group margin-bottom-25 sidebar-menu">
        <li class="list-group-item clearfix"><a href="/product-list-Steering Wheel"><i class="fa fa-angle-right"></i> Steering Wheels</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-Alarm"><i class="fa fa-angle-right"></i> Alarms</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-Strut Bar"><i class="fa fa-angle-right"></i> Strut Bars</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-Air Intake"><i class="fa fa-angle-right"></i> Air Intake</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-Plate Accessories"><i class="fa fa-angle-right"></i> Plate Accessories</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-Visor"><i class="fa fa-angle-right"></i> Visor</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-Body"><i class="fa fa-angle-right"></i> Body</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-Emblem"><i class="fa fa-angle-right"></i> Emblem</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-Grill"><i class="fa fa-angle-right"></i> Grill</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-Bumper"><i class="fa fa-angle-right"></i> Bumper</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-Adaptor"><i class="fa fa-angle-right"></i> Adaptor</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-Visor"><i class="fa fa-angle-right"></i> Visor</a></li>
    </ul>
</div>

<%# console.log(prods) %>

<%# prods.forEach(function(prod) { %>

<%# console.log(prod.type) %>

<%# }) %>


<%# var types = [...new Set(prods.map(a => a.type))] %>

<%# console.log(types) %>

<%# console.log(sr.get()) %>

