<div class="sidebar col-md-3 col-sm-5">
    <ul class="list-group margin-bottom-25 sidebar-menu">
        <li class="list-group-item clearfix"><a href="/product-list-steeringWheel"><i class="fa fa-angle-right"></i> Steering Wheels</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-alarm"><i class="fa fa-angle-right"></i> Alarms</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-strutBar"><i class="fa fa-angle-right"></i> Strut Bars</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-airIntake"><i class="fa fa-angle-right"></i> Air Intake</a></li>
        <li class="list-group-item clearfix"><a href="/product-list-plateAccessories"><i class="fa fa-angle-right"></i> Plate Accessories</a></li>
    </ul>
</div>