<% include ./partials/header %>

<div class="container">
  <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1 style="color: white">Shopping cart</h1>
            <div class="shopping-cart-page">
              <div class="shopping-cart-data clearfix">
                <p style="color: white">Your shopping cart is empty!</p>
              </div>
            </div>
          </div>
  <!-- END CONTENT -->
</div>

<br>

<% include ./partials/footer %>